
<%- include('include/_header') %>

<h2>ADDING VEHICLE for rental manager <b><%=user.username%></b></h2>
<a href="/rental-manager-list">Back to rental manager list</a>
<form method="POST" action="/add-vehicle/<%=user._id%>"  class="add-item-form">
    
    <div class="form-field">
      <label for="vehicleid">Vehicle ID</label>
      <input class="box-shape" type="text" name="vehicleid" id="vehicleid" placeholder="vehicle id" required />
    </div>

    <div class="form-field">
      <label for="type">type</label>
      <input class="box-shape" type="text" name="type" id="type" placeholder="CNG/Leguna/chander gari" required />
    </div>

    <div class="form-field">
        <label for="cost">Cost</label>
        <input class="box-shape" type="text" name="cost" id="cost" placeholder="cost" required />
      </div>

      <div class="form-field">
        <label for="capacity">Capacity</label>
        <input class="box-shape" type="text" name="capacity" id="capacity" placeholder="capacity" required />
      </div>



      <div class="form-field">
        <label>Facilities</label>
        <div class="box-shape">
          <label><input type="checkbox" name="facilities[]" value="breakfast" /> Breakfast</label>
      <label><input type="checkbox" name="facilities[]" value="restaurant" /> Restaurant</label>
      <label><input type="checkbox" name="facilities[]" value="parking" /> Parking</label>
      <label><input type="checkbox" name="facilities[]" value="24-hour_security" /> 24-hour Security</label>
      <label><input type="checkbox" name="facilities[]" value="business_facilities" /> Business Facilities</label>
      <label><input type="checkbox" name="facilities[]" value="swimming_pool" /> Swimming Pool</label>
      <label><input type="checkbox" name="facilities[]" value="indoor_games" /> Indoor Games </label>
      <label><input type="checkbox" name="facilities[]" value="airport_shuttle" /> Airport Shuttle</label>
      <label><input type="checkbox" name="facilities[]" value="fitness_centre" /> Fitness Centre</label>
      <label><input type="checkbox" name="facilities[]" value="outdoor_activities" /> Outdoor Activities</label>
      <label><input type="checkbox" name="facilities[]" value="early_check-in" /> Early Check-in</label>
      <label><input type="checkbox" name="facilities[]" value="late-check_in" /> Late Check-in</label>
      <label><input type="checkbox" name="facilities[]" value="air_conditioning" /> Air Conditioning</label>
      <label><input type="checkbox" name="facilities[]" value="kid_friendly" /> Kid Friendly</label>
      <label><input type="checkbox" name="facilities[]" value="disability_friendly" /> Disability Friendly</label>
      </div>
    </div>
    

    <div class="form-field">
      <input type="submit" value="Add vehicle" />
    </div>
  </form>




<%- include('include/_footer') %>
