
<%- include('include/_header') %>



<form method="POST" action="/add-rental-manager" class="add-item-form">
    
    <div class="form-field">
      <label for="username">Manager name</label>
      <input class="box-shape" type="text" name="username" id="username" placeholder="username" required />
    </div>

    <div class="form-field">
      <label for="password">password</label>
      <input class="box-shape" type="password" name="password" id="password" placeholder="easy password to remember" required />
    </div>

    <div class="form-field">
      <input type="submit" value="Add rental manager" />
    </div>
  </form>




<%- include('include/_footer') %>
