
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!--ADD TO SHOW EXISTING HOTELS -->


<h4><a href="/roomlist">ROOMLIST</a></h4>


<form method="POST" action="/addroom" class="add-item-form">
    
    
    <div class="form-field">
        <label for="roomid">Room number</label>
      <input class="box-shape" type="text" name="roomid" id="roomid" placeholder="room no. or any name" required />
    </div>
    

    <div class="form-field">
    
        <label for="type">Type for room:</label>
          <select name="type" id="" class="">
          <option value="delux">delux</option>
          <option value="mid">mid</option>
          <option value="poor">poor</option>
      </select>
      </div>
    

      <div class="form-field">
        <% if(data.length){ %> 
          <label for="hotel">Select hotel for room:</label>
          <select name="hotel" id="" class="">
          
            <% for(var i = 0; i< data.length; i++) {%>  
            <option value="<%= data[i]._id%>"><%= data[i].hotel%></option>
          
          <% } %>
          </select>
          <% }
          else
          { %>
          <p>No hotels/managers found</p>
               <% } %>    
          
      </div>
 
    

    <div class="form-field">
      <label for=""></label>
      <input type="submit" value="Add Room" />
    </div>
  </form>




<!-- include header -->
<%- include('include/_footer') %>
<!-- /include header -->