
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<h1 style="text-align: center;">    DASHBOARD</h1>
<% if(isloggedin) {%>
    <h1>UserID:<%= isloggedin%> is logged in now </h1>
    <h2>Role: <%= role%></h2>
    <% } %>

    <% if(!isloggedin) {%>
        <h1>No one is logged in</h1>
        <% } %>
        


<!-- include header -->
<%- include('include/_footer') %>
<!-- /include header -->