
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<h1 style="text-align: center;">    This is index page, nothing interesting</h1>

<% isloggedin %>

<!-- include header -->
<%- include('include/_footer') %>
<!-- /include header -->