
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<h1 style="text-align: center;">PROFILE</h1>
<% if(isloggedin) {%>
    <h1 style="text-align: center;">Information of logged in user</h1>
    <h2 style="text-align: center;">Name: <%= username%></h2>
    <h2 style="text-align: center;">Role: <%= role%></h2>
    <% } %>

    <% if(!isloggedin) {%>
        <h1>No one is logged in</h1>
        <% } %>
        


<!-- include header -->
<%- include('include/_footer') %>
<!-- /include header -->