
<%- include('include/_header') %>



<form method="POST" action="/update-field-agent/<%=user._id%>" class="add-item-form">
    
    <div class="form-field">
      <label for="username">Agent name</label>
      <input class="box-shape" type="text" name="username" id="username" placeholder="username" value="<%= user.username%>" required />
    </div>

    <div class="form-field">
      <label for="password">password</label>
      <input class="box-shape" type="password" name="password" id="password" placeholder="easy password to remember" required />
    </div>

    <div class="form-field">
      <input type="submit" value="Update field agent" />
    </div>
  </form>

<a href="/field-agent-list">Back to field agent list</a>


<%- include('include/_footer') %>
